#header {
	text-align: center;
	background-color: #5cc683;
	font-size: 0px;
	border-radius: 5px;
}

#header ul {
	display: inline-block;
	margin-bottom: 0px;
	font-size: 14px;
}

#header ul li {
	cursor: pointer;
	border-radius: 5px;
}
#header ul li:hover {
	background-color: #57ae63;
}
#header ul li:hover a{
	color: #666666;
}
#header ul li.active {
	background-color: #75e886;
}
#header ul li a {
	display: block;
	padding: 5px 10px;
	line-height: 35px;
	color: #ffffff;
}
#header ul li.active a {
	color: #333333;
	font-weight: bold;
}
@media screen and (max-width: 760px) {
	#header ul {
		font-size: 7px;
	}
	#header ul li a {
		padding: 2px 5px;
		line-height: 25px;
	}
}